*

# >-----< INCLUDES >-----< #

# [+]: Install stage
!go.mod
!go.sum

# [+]: Build stage
!source/
!source/**

# [+]: Test stage

# [+]: Run stage

# >-----< EXCLUDES >-----< #

# [-]: MacOS files
.DS_Store
**/.DS_Store
