*

# >-----< INCLUDES >-----< #

# [+]: Git files
!.gitignore

# [+]: Repo files
!CHANGELOG.md
!LICENSE.md
!README.md

# [+]: Source files
!source/
!source/**

# [+]: Go files
!go.mod
!go.sum

# [+]: Config files
!.editorconfig

# [+]: Environment files
!.env.example

# [+]: Docker files
!.dockerignore
!compose.yaml
!Dockerfile

# >-----< EXCLUDES >-----< #

# [-]: macOS files
.DS_Store
**/.DS_Store
